:root {
	--container-width: 1200px;
	--container-padding: 17px;

	--font-main: 'Nunito Sans', sans-serif;
	--font-accent: 'Open Sans', sans-serif;

	--page-bg: #fff;
	--text-color: #BDBDBD;
	--accent: #333;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

	
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}